<div class="jumbotron">
    <h1 class="display-4">Olá, sou o Guilherme!</h1>
    <p class="lead">
        Sou um desenvolvedor Back-end Júnior. Fui um estágiario Qa-Tester realizando testes funcionais, testes de regressão e manuais. Agora estou em busca de uma oportunidade como dev!
    </p>
    <hr class="my-4">

    <div class="row">
        <div class="col-6 col-md-6 col-lg-6">
            <p>Soft Skills</p>
            <ul>
                <li>Trabalho em equipe</li>
                <li>Comunicação</li>
                <li>Empatia</li>
                <li>Persistência</li>
                <li>Adaptabilidade</li>
                <li>Liderança</li>
                <li>Foco</li>
                <li>Determinação</li>
            </ul>
        </div>        
        <div class="col-6 col-md-6 col-lg-6">
            <p>Hard skills</p>
            <ul>
                <li>C# (.Net, ASP.NET Core, MVC, Entity Framework)</li>
                <li>Node.js / Express / API / Prisma</li>
                <li>React (Hooks, Router)</li>
                <li>JavaScript ES6</li>
                <li>HTML / CSS / Bootstrap</li>
                <li>Bancos de Dados Relacionais (SQL Server, MySQL, PostgreSQL)</li>
                <li>Git, GitHub</li>
                <li>Scrum / Trello</li>
            </ul>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-3 col-md-3 col-lg-3">
            <h5>Telefone para contato</h5>
            <h6>(15) 99841-9562</h6>
        </div>
        <div class="col-3 col-md-3 col-lg-3">
            <h5>Email</h5>
            <h6>ghboves@gmail.com</h6>
        </div>
        <div class="col-3 col-md-3 col-lg-3">
            <h5>Linkedin</h5>
            <a href="https://www.linkedin.com/in/guilherme-boves/">Guilherme-Boves</a>
        </div>
        <div class="col-3 col-md-3 col-lg-3">
            <h5>Github</h5>
            <h6>Guilherme-Boves</h6>
        </div>
    </div>
</div>

<p class="lead">
    <h5 class="btn btn-primary"><email endereco="ghboves@gmail.com" conteudo="Enviar um e-mail" class="text-light text-decoration-none p-2"></email></h5>
</p>