<div class="jumbotron">
    <h1 class="display-4">Olá, sou o Guilherme!</h1>
    <p class="lead">
        Sou um desenvolvedor Back-end Júnior. Fui um estágiario Qa-Tester realizando testes funcionais, testes de regressão e manuais. Agora estou em busca de uma oportunidade como dev!
    </p>
    <hr class="my-4">

    <div class="row">
        <div class="col-6 col-md-6 col-lg-6">
            <p>Soft Skills</p>
            <ul>
                <li>Trabalho em equipe</li>
                <li>Comunicação</li>
                <li>Empatia</li>
                <li>Persistência</li>
                <li>Adaptabilidade</li>
                <li>Liderança</li>
                <li>Foco</li>
                <li>Determinação</li>
            </ul>
        </div>
        <div class="col-6 col-md-6 col-lg-6">
            <p>Hard skills</p>
            <ul>
                <li>C# (.Net, ASP.NET Core, MVC, Entity Framework)</li>
                <li>Node.js / Express / API / Prisma</li>
                <li>React (Hooks, Router)</li>
                <li>JavaScript ES6</li>
                <li>HTML / CSS / Bootstrap</li>
                <li>Bancos de Dados Relacionais (SQL Server, MySQL, PostgreSQL)</li>
                <li>Git, GitHub</li>
                <li>Scrum / Trello</li>
            </ul>
        </div>
    </div>


</div>
<p></p>

    <div class="row">
        <div class="col-3 col-md-3 col-lg-3">
            <email endereco="ghboves@gmail.com" conteudo="Enviar um e-mail" class="text-decoration-none p-2 bg-dark"></email>
            <a class="bg-dark" href="https://www.linkedin.com/in/guilherme-boves/"><img src="~/images/link.png" width="45" height="42" /></a>
            <a class="bg-dark" href="https://github.com/Guilherme-Boves"><img src="~/images/github.png" width="45" height="42" /></a>
            <a class="bg-dark">Telefone para contato (15) 99841-9562</a>
        </div>        
        @*<div class="col-3 col-md-3 col-lg-3">
            <email endereco="ghboves@gmail.com" conteudo="Enviar um e-mail" class="btn btn-primary text-decoration-none p-2"></email>
        </div>
        <div class="col-3 col-md-3 col-lg-3">
            <a href="https://www.linkedin.com/in/guilherme-boves/"><img src="~/images/link.png" width="45" height="42" /></a>
        </div>
        <div class="col-3 col-md-3 col-lg-3">
            <a href="https://github.com/Guilherme-Boves"><img src="~/images/github.png" width="45" height="42" /></a>
        </div>
        <div class="col-3 col-md-3 col-lg-3">
            <h6><span>Telefone para contato</span><br>(15) 99841-9562</h6>
        </div>*@
    </div>

