* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
    /*background-color: #eee;*/
}

/*  ---------  CSS customizado para determinados componentes  ---------  */
.text-hover {
    color: #7f7f90;
    transition: all 0.3s ease;
}

    .text-hover:hover {
        color: #000000;
        border-bottom: 2px solid #ff1522;
    }

.btn-logout {
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
}

    .btn-logout:hover {
        color: #000000;
        border-bottom: 2px solid #ff1522;
    }

.btn-entrar-cadastrar {
    border-radius: 50px;
    background-color: #ff1522;
    opacity: 0.85;
    color: #fff;
    padding: 8px;
    border: 1px solid #f35588;
    transition: all 0.3s ease;
}

    .btn-entrar-cadastrar:hover {
        color: #f35588;
        background-color: #fff;
        border: 1px solid #f35588;
    }

.btn-cadastro-login {
    line-height: 3;
    padding: 12px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #f35588;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: transparent;
}

    .btn-cadastro-login:hover {
        color: #f35588;
        background-color: #fff;
    }

label {
    font-weight: 300;
    margin-bottom: 0.3rem;
}

.custom-input{
    border-radius: 50px; 
    background-color:rgba(0, 0, 0, 0.05); 
    padding: 5px 10px 10px 20px;
}